<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<bean id="ProductStatisticServiceFacade" class="com.dpmall.datasvr.facade.ProductStatisticServiceFacade">
	    <property name="productStatisticService" ref="productStatisticService"/>
	</bean>
	
	<bean id ="productStatisticService" class="com.dpmall.datasvr.service.ProductStatisticServiceImpl">
	    <property name="productStatisticDao" ref="productStatisticDao"/>
	</bean>
	
	
	<bean id="OrderServiceFacade" class="com.dpmall.datasvr.facade.OrderServiceFacade"></bean>
	
	<bean id ="orderService" class="com.dpmall.datasvr.service.OrderServiceImpl"></bean>
	
	<bean id="PrepayServiceFacade" class="com.dpmall.datasvr.facade.PrepayServiceFacade"></bean>
	
	<bean id ="prepayService" class="com.dpmall.datasvr.service.PrepayServiceImpl"></bean>
	
	<bean id="StoreServiceFacade" class="com.dpmall.datasvr.facade.StoreServiceFacade"></bean>
	
	<bean id ="storeService" class="com.dpmall.datasvr.service.StoreServiceImpl"></bean>
	
	<bean id="SaleLeadsServiceFacade" class="com.dpmall.datasvr.facade.SaleLeadsServiceFacade"></bean>
	
	<bean id ="saleLeadsService" class="com.dpmall.datasvr.service.SaleLeadsServiceImpl"></bean>
</beans>